default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
-   repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
-   repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=16]
      - id: go-build
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      -   id: no-commit-to-branch
          args:
            - "--branch"
            - "main"
      -   id: check-executables-have-shebangs
      -   id: check-toml
      -   id: trailing-whitespace
      -   id: end-of-file-fixer
      -   id: check-yaml
      -   id: check-added-large-files
      -   id: check-case-conflict
      -   id: check-json
      -   id: check-merge-conflict
      -   id: check-symlinks
      -   id: pretty-format-json
          args:
            - --autofix
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      -   id: forbid-crlf
      -   id: remove-crlf
-   repo: https://github.com/Lucas-C/pre-commit-hooks-markup
    rev: v1.0.1
    hooks:
      -   id: rst-linter
-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      -   id: detect-secrets
          exclude: "go.sum"
      # args: ['--baseline', '.secrets.baseline']
-   repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
    -   id: mypy
-   repo: https://github.com/pycqa/pylint
    rev: v4.0.1
    hooks:
    -   id: pylint
-   repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
    - id: bandit
      args: ["--skip=B101"]
