on:
    pull_request:
    push:
      branches:
        - main
    workflow_dispatch:  # Allow manual triggering

jobs:
  versiontag:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    steps:
      - uses: actions/checkout@v5
      - name: Check version tag
        run: |
          curl -f https://raw.githubusercontent.com/pvarki/golang-kraftwerk-init-helper-cli/main/kw_product_init.go -o /tmp/main_kw_product_init.go || touch /tmp/main_kw_product_init.go
          grep "Version = " kw_product_init.go >/tmp/version.txt
          grep "Version = " /tmp/main_kw_product_init.go >/tmp/main_version.txt
          diff /tmp/main_version.txt /tmp/version.txt && exit 1 || exit 0

  test:
    runs-on: arc-runner-set
    permissions:
      contents: write
      pull-requests: write
      checks: write
    strategy:
      matrix:
        python-version: ["3.11"] # , "3.12"]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: install dependencies
        id: install_dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install pre-commit detect-secrets
          export PATH=$PATH:/home/runner/.local/bin:/home/runner/go/bin
          go version || (apt-get update && apt-get install -y golang-go)
          which golint || go install golang.org/x/lint/golint@latest
          which goimports || go install golang.org/x/tools/cmd/goimports@latest
      - name: pre-commit
        id: pre_commit
        run: |
          export PATH=$PATH:/home/runner/.local/bin:/home/runner/go/bin
          export SKIP=no-commit-to-branch
          pre-commit run --all-files


  build_and_publish:
    runs-on: arc-runner-set
    needs: [test]
    env:
      PVARKI_DOCKER_REPO: ghcr.io/
      ACR_REPO: ${{ vars.ACR_REPO }}
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Azure Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.ACR_REPO }}
          username: ${{ vars.ACR_USERNAME }}
          password: ${{ secrets.ACR_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Fix ref slashes
        run: |
          echo REF_NO_SLASHES=$(echo "${{ github.ref_name }}" | sed 's/\//-/g') >> ${GITHUB_ENV}
      - name: Set DOCKER_TAG_EXTRA if not main
        if: github.event.pull_request.merged != true
        run: |
          test "${{ github.ref }}" = "refs/heads/main" || echo "DOCKER_TAG_EXTRA=-$REF_NO_SLASHES" >> ${GITHUB_ENV}
          cat ${GITHUB_ENV}
      - name: Generate bakefile
        run: |
          .github/bakefile_variants.py >bakefile.hcl
      - name: Build and push
        if: ${{ !env.ACT }}
        run: |
          docker buildx bake -f bakefile.hcl --pull --push
